.sidebar {
    height: 100%;
    width: 100%;
    background: var(--primaryColor);


    &--desk {
        width: var(--width-sidebar);
        position: fixed;
    }

    &__content {
        box-sizing: border-box;
        left: 0px;
        overflow-x: hidden;
        top: 0px;
        width: 100%;
    }
}

.information {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    color: var(--background);
    padding: 32px;

    &__logo {
        width: 45px;
        height: 45px;
    }

    &__data {
        padding-left: 1rem;
        text-align: left;
        max-width: calc(100% - 48px);
        cursor: pointer;
    }

    &__name {
        margin: 0;
        padding: 0;
        font-size: 1.4rem;
        line-height: 1.4re;
        font-weight: 400;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: var(--background);
    }

    &__description {
        margin: 0;
        padding: 0;
        font-size: 1.4rem;
        line-height: 1.4rem;
        margin-top: 0.8rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-weight: 700;
        color: var(--background);
    }

}

ul {
    margin: 0;
    padding: 0;

    li {
        list-style: none;

        a {
            text-decoration: none;
        }
    }
}

.menu {
    &__item {
        border-radius: 0.125rem;
        padding: 1.2rem 3.2rem 1.2rem 3.2rem;
        will-change: background-color;
        transition: all 0.3s;
        display: flex;
        align-items: center;
        margin-bottom: 0.8rem;
        padding: 2rem;
        box-sizing: border-box;

        a {
            margin-left: 2rem;
            font-size: var(--mc-scale-4);
            color: var(--background);
            font-family: Roboto;
            font-weight: 400;
        }

        i {
            font-size: 1.6rem;
            color: var(--background);
        }

        &--active {
            background-color: var(--secondaryColor);
            a, i {
                font-weight: 500;
                color: var(--background);
            }
        }
    }
}
